.logo {
  display: flex;

  text-align: center;
  color: var(--black-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;

  max-width: 218px;
  padding: 34px 0;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.logo:hover {
  transform: scale(1.05);
}
