.header {
  display: flex;
  border-bottom: 1px solid rgba(25, 26, 21, 0.1);
}

.icon {
  width: 24px;
  height: 24px;
}

.burgerBtn {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 25px 0;
  background-color: transparent;
  border-color: transparent;

  cursor: pointer;
  transition: transform 300ms ease-in-out;
}

.burgerBtn:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.authBtns {
  display: none;
}

.authBtn {
  width: 153px;
}

@media screen and (min-width: 1440px) {
  .burgerBtn {
    display: none;
  }
  .authBtns {
    display: flex;
    gap: 8px;
  }
}
