@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

:root {
  --font-family: "Inter";

  --black-color: #191a15;
  --gray-color: rgba(25, 26, 21, 0.5);
  --white-color: #fbfbfb;
}

[data-theme="green"] {
  --main-color: #54be96;
  --secondary-color: #54be9633;
  --main-darker-color: #36a379;
  --warning-color: #bf7954;
  --error-color: #bf5455;
}
[data-theme="blue"] {
  --main-color: #3470ff;
  --main-darker-color: #255ee8;
  --secondary-color: #3470ff33;
  --warning-color: ##ffc333;
  --error-color: ##ff5733;
}
[data-theme="orange"] {
  --main-color: #fc832c;
  --main-darker-color: #f37113;
  --secondary-color: #fc832c33;
  --warning-color: #fcc02b;
  --error-color: #fc452b;
}

body {
  font-family: var(--font-family), sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: var(--black-color);
  background-color: var(--white-color);
}

h1 {
  font-weight: 600;
  font-size: 64px;
  line-height: 102%;
  letter-spacing: -0.02em;
}

img {
  width: 100%;
  height: auto;
}

:focus {
  outline: 2px solid var(--main-color);
}

:focus:not(:focus-visible) {
  outline: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.fallback {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40vh;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 78px 0 100px 0;
  background-color: var(--white-color);
}

.italic {
  font-style: italic;
  color: var(--main-color);
}

.accent {
  color: var(--main-color);
  transition: color 300ms ease-in-out;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;

  border: 1px solid transparent;
  padding: 14px 32px;
  border-radius: 30px;

  transition:
    color 300ms ease-in-out,
    background-color 300ms ease-in-out,
    border-color 300ms ease-in-out,
    opacity 300ms ease-in-out;
  cursor: pointer;
}

.btn:active,
.btn:disabled {
  opacity: 50%;
}

.btn-primary {
  color: var(--white-color);
  background-color: var(--main-color);
}

.btn-primary:hover {
  background-color: var(--main-darker-color);
}

.btn-secondary {
  color: var(--black-color);
  border-color: rgba(25, 26, 21, 0.2);
  background-color: transparent;
}

.btn-secondary:hover {
  color: var(--white-color);
  background-color: var(--main-color);
  border-color: transparent;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    padding: 0 128px;
  }

  h1 {
    font-size: 80px;
  }
}
