.container {
  display: grid;
}

.title {
  display: flex;
  margin: 30vh auto 5vh auto;
}

.heading {
  font-size: 50px;
}

.paragraph {
  font-size: 24px;
  color: var(--gray-color);

  margin: 0 auto 5vh auto;
}

.btn {
  max-width: 235px;
  margin: 0 auto;
}
